.leadership-section{
    padding: 4rem;
}
.leadership-cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.leader-card{
    background-color: var(--gray-x-light);
    display: flex;
}
@media screen and (max-width: 83.75em) {
    .leader-card {
      width: 100%;
    }
  }

  @media screen and (max-width: 43.75em) {
    .leader-card {
      flex-direction: column;
    }
  }
.leader-card-img-cont{
    width: 27rem;
    height: 100%;
    overflow: hidden;
}
@media screen and (max-width: 83.75em) {
    .leader-card-img-cont {
      width: 50%;
    }
  }

  @media screen and (max-width: 43.75em) {
    .leader-card-img-cont {
      width: 100%;
    }
  }
.leader-card-img-cont img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}
.leader-details{
    width: 35rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}
@media screen and (max-width: 83.75em) {
    .leader-details {
      width: 50%;
      justify-content: space-between;
    }
  }
  @media screen and (max-width: 43.75em) {
    .leader-details {
      width: 100%;
    }
  }
.leader-name{
    color: var(--black-color);
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: .5rem;
}
.leader-position{
    font-size: 1.7rem;
    font-style: italic;
}
.leader-biography{
    margin-top: 1.5rem;
    color: var(--dark-gray-color);
}
.leader-social-links{
    margin-top: 5rem;
    display: flex;
    gap: 1rem;

}
.leader-social-links svg{
    font-size: 2.8rem;
    color: var(--black-color);
    border: 1px solid var(--black-color);
    padding: .5rem;
}